header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  font-family: $default-font;
  padding-top: 60px;

  .wrap {
    max-width: 1560px;
    padding: 0 15px;
    margin: 0 auto;
    display: table;
    width: 100%;
  }

  #logo {
    display: table-cell;
    vertical-align: middle;

    a {
      color: #2a2b2d;
      font-size: 25px;
      font-weight: 700;
      line-height: 27px;
      text-transform: uppercase;

    }
  }
  .menu {
    display: table-cell;
    text-align: -webkit-center;

    ul {
      display: table;
      width: 100%;
      max-width: 800px;

      li {
        display: table-cell;

        a {
          color: #2a2b2d;
          font-size: 18px;
          font-weight: 500;
          line-height: 70px;
          position: relative;

          &:hover {
            text-decoration: none;
          }

          &:after {
            content: '';
            transition: all 0.3s ease-in-out;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: #2a2b2d;
            opacity: 0;
          }
        }

        &.active a, &:hover a{
          color: #2a2b2d;

          &:after {
            content: '';
            transform: translateY(9px);
            opacity: 1;
          }
        }
      }
    }
  }
  .phone {
    display: table-cell;
    text-align: right;

    a {
      color: #2a2b2d;
      font-size: 18px;
      font-weight: 500;
      line-height: 70px;
    }
  }
}

  .slogan {
    height: 100vh;
    overflow: hidden;
    font-weight:700;
    font-family: $default-font;
    font-size: 70px;
    position: relative;
    text-align: center;

    .sub-bg {
      text-shadow: 15.1px 22.4px 51px rgba(0, 0, 0, 1);
      color: white;
      font-size: 503px;
      font-weight: 700;
      line-height: 628px;
      text-transform: uppercase;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }

    img {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    video {
      position: absolute;
      top: 0%;
      left: 0%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1;
      overflow: hidden;
    }
  }
