.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
  z-index: 99;
}

.icon-scroll {
  width: 30px;
  height: 47px;
  margin-left: -20px;
  bottom: 10%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #393939;
  border-radius: 15px;
}
.icon-scroll:before {
  content: '';
  width: 2px;
  height: 6px;
  background: #393939;
  margin-left: -1px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll {
  0%{ opacity:1;}
  100%{ opacity: 0; transform: translateY( 16px)}
}