.last-work {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 300px;
  background-color: #2a2b2d;
  position: relative;

  .wrap {
    max-width: 1560px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .slide {
    width: 800px;
    height: 550px;
    background-color: #0fa3e7;
    text-align: center;
    margin: 0 auto;
    margin-right: 50px;

    img {
      width: auto;
      height: auto;
      margin-top: 50%;
      transform: translateY(-69%);
    }
  }

  .title {
    color: white;
    font-family: $default-font;
    font-size: 55px;
    font-weight: 700;
    line-height: 66px;
    max-width: 300px;
    position: absolute;
    top: 20%;
    left: 8%;

    &:after {
      content: "";
      display: block;
      width: 65px;
      height: 1px;
      background-color: white;
      margin-top: 40px;
    }
  }
}