.our-clients {
  max-width: 1560px;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 300px;
  font-family: $default-font;
  text-align: center;

  .title {
    color: #393939;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 150px;

    &:after {
      content: "";
      width: 65px;
      height: 1px;
      background-color: #393939;
      display: block;
      margin: 45px auto 0;
    }
  }

  .wrap {
    display: flex;
    justify-content: space-between;

    img {
      width: auto;
      height: auto;
    }
  }
}