.we-are {
  padding-left: 15px;
  padding-right: 15px;

  .wrap {
    width: 100%;
    max-width: 1560px;
    height: 600px;
    margin: 100px auto 150px;
    background: url(../img/we-are-bg.jpg) no-repeat 50%;
    background-size: cover;
    display: flex;
    align-items: center;
  }
   p {
     color: white;
     font-family: $default-font;
     font-size: 35px;
     font-weight: 700;
     line-height: 60px;
     max-width: 1054px;
     padding-left: 15px;
     padding-right: 15px;
     margin: 0 auto;
     text-align: center;

   }
}