.what-we-do {
  font-family: $default-font;
  text-align: center;
  max-width: 1560px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0;

  .title {
    color: #393939;
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
  }
  .sub-title {
    width: 1027px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 35px;
    color: #bbbec5;
    font-weight: 500;
    padding-bottom: 120px;
    padding-top: 30px;
  }

  .services-menu {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;


    .services-title {
      font-size: 30px;
      font-weight: 700;
      line-height: 60px;
      padding-bottom: 25px;
      color: #393939;

      span {
        color: #dbdde1;
        padding-right: 15px;
      }
    }

    li {
      a {
        padding: 20px 35px;
        display: inline-block;
        color: #888;
        font-size: 20px;
        font-weight: 500;


        &:hover {
          text-decoration: none;
          background: #393939;
          color: #fff;
        }
      }
    }
  }
}